/* 
    Created on : 2017.12.21., 10:42:18
    Author     : Horváth Zoltán
*/
/*
font-family: 'Pangolin', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Spectral SC', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Berkshire Swash', cursive;
*/
body{
    background-color: #ccffcc;
}
h1{
    font-family: 'Spectral SC', serif;
    text-align: center;
}
#menu1{
    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;
    width: 100%;
    text-align: center;
}